
.navigation {
    background-color: lightgreen;
}
.space{
	margin-left:10px;
}
/* .position{
	margin-top: 50%;
} */
.place{
	padding-top: 15%;
	margin-left:42%;
}
.navbar{
	background-color: whitesmoke;
	

}

.sizeimg{
	width: 100%;
	height: 30%;
}
